
 .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: justify;

}

.about-member {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.about-image-container {
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  margin-bottom: 15px;
}

.about-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.about-description {
  width: 100%;
  font-size: 18px; /* Adjust the font size as needed */
}


.about-description p {
  color: wheat
}
.about-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  
}

.about-links img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

h1 {
  text-align: center;
}

h2, h4, h5 {
  margin-bottom: 10px;
  color:#3498db;
  font-size: 20px;
}

.about-Josip, .about-carina, .about-miguel, .about-victor {
  color: #3498db;
}

/* Responsive Media Queries */
@media (min-width: 600px) {
  .about-member {
      flex-direction: row;
      align-items: flex-start;
  }

  .about-image-container {
      margin-right: 20px;
      margin-bottom: 0;
  }

  .about-description {
      margin-left: 20px;
  }
}

@media (min-width: 900px) {
  .about-member {
      flex-direction: row;
      align-items: center;
  }
}
