/* AboutUs.css */

body {
    background-color: #1b1b1b; 
    color: #fff; 
    font-family: 'Arial', sans-serif; 
  }
  
  h1, h2, h4, h5 {
    color: #00bcd4; 
  }
  
  div {
    margin-bottom: 30px; 
  }
  
  .about img {
    max-width: 100%; 
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 15px; 
  }
  
  .link-container {
    display: flex;
    align-items: center;
  }
  
  .link-container a {
    margin-right: 10px;
  }
  
  .link-container img {
    width: 30px; 
    height: auto; 
  }
  