

 .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: justify;
}

.about-member {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.about-image-container {
  width: 100%;
  max-width: 400px; 
  margin-bottom: 15px;
}

.about-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.about-description {
  width: 100%;
  font-size: 18px; 
  color: wheat;
}

.about-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.about-links img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  
}

h2, h4, h5 {
  margin-bottom: 10px;
  color: #3498db;
  font-size: 20px;
}

.about-Josip, .about-carina, .about-miguel, .about-victor {
  color: #3498db;
}


@media (min-width: 600px) {
  .about-member {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-image-container {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .about-description {
    margin-left: 20px;
  }
}

@media (min-width: 900px) {
  .about-member {
    flex-direction: row;
    align-items: center;
  }

  .about-description {
    font-size: 26px; 
  }

  .about-links img {
    width: 40px; 
    height: 40px; 
  }

  h2, h4, h5 {
    font-size: 28px; /* Further increase font size for larger desktop screens */
  }
}

@media (min-width: 1200px) {
  .about-description {
    font-size: 30px; 
  }

  .about-links img {
    width:70px; 
    height:70px; 
  }

  h2, h4, h5 {
    font-size: 35px; /* Further increase font size for larger desktop screens */
  }
}
