.albums-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
}

.search-bar-albums {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    width: 100%;
    max-width: 400px;
}
.image-album-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    margin-top: 2em;
    gap: 1em;
}
.image-album-wrapper img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    object-fit: cover;
}
.image-album-wrapper > div {
    background: linear-gradient(
        79deg,
        rgb(47, 45, 47) 0%,
        rgb(208, 60, 50) 100%
    );
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}
.image-album-wrapper div {
    padding: 0.5em;
    text-align: center;
    margin-top: 1em;
}
/* Hover effect for album card */
.image-album-wrapper > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
    .search-bar-albums {
        margin-bottom: 1em;
        padding: 0.8em;
        max-width: 90%;
    }
    .image-album-wrapper {
        grid-template-columns: 1fr;
    }
    .image-album-wrapper > div {
        margin-top: 1em;
        padding: 0.8em;
    }

    .title-albums,
    .p-albums {
        font-size: larger;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .search-bar-albums {
        max-width: 80%;
    }
    .image-album-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }
    .image-album-wrapper > div {
        padding: 0.8em;
    }
}
