.artists-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    margin-top: 2em;
    padding-left: 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.artists-wrapper img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    object-fit: cover;
}

.add-and-delete-buttons {
    margin-bottom: 2em;
}

.artists-wrapper a {
    color: antiquewhite;
}

.search-bar-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-and-buttons button {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    background-color: antiquewhite;
    color: rgb(152, 19, 19);
    border-radius: 1em;
    padding: 0.5em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-height: 80%;
    overflow-y: auto;
    border-radius: 8px;
    position: relative;
    background-color: antiquewhite;
}

.modal ::placeholder {
    color: black;
}

.modal p {
    color: black;
}

.modal button {
    background-color: antiquewhite;
    color: rgb(152, 19, 19);
    border-radius: 1em;
    padding: 1em;
    margin: 0;
}

.closeButton {
    color: black;
    position: absolute;
    top: -20px;
    right: -20px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.create-artist-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent
    padding: 3em;
}
.create-artist-form-wrapper label {
    color: antiquewhite;
}

.create-artist-form-wrapper input {
    margin-bottom: 1em;
}

.create-artist-form-wrapper button {
    background-color: antiquewhite;
    color: rgb(152, 19, 19);
    border-radius: 1em;
    padding: 1em;
}

.create-artist-form-wrapper select {
    margin-bottom: 1em;
}

.artists-details-wrapper {
    min-height: 45em;
}

.artists-details-wrapper img {
    width: 20em;
    height: 20em;
}

.artists-cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        79deg,
        rgb(47, 45, 47) 0%,
        rgb(208, 60, 50) 100%
    );
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 0.5em;
}

.artists-cards-wrapper a {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artists-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
        79deg,
        rgb(47, 45, 47) 0%,
        rgb(208, 60, 50) 100%
    );
    margin-bottom: 4em;
    margin-top: 4em;
    width: 60%;
}

.artists-details-image-and-title {
    width: 100%;
}

.artists-details-wrapper h3 {
    color: antiquewhite;
}

.artists-details-wrapper ul {
    list-style: none;
}

.artists-details-wrapper button {
    background-color: #51637b;
    color: white;
    border: none;
    border-radius: 0.4em;
    padding: 0.8em 1.5em;
    margin: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.add-album-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-album-form-wrapper input {
    margin: 0.3em;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media screen and (min-width: 1440px) {
}
