.footer {
    background-color: rgb(130, 26, 26);
    width: 100vw;
    height: 12em;
    text-align: center;
    color: #ecf0f1;
    font-size: 1.2em;
    border-top: solid 1px antiquewhite;
    margin-bottom: 0;
}

.footer p {
    text-align: center;
    color: antiquewhite;
}

.footer a:hover {
    color: #c0392b;
}

.footer-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0;
    padding: 0;
}

.footer-lists li {
    font-size: 1em;
    list-style: none;
}

.footer-lists a {
    color: antiquewhite;
}

.footer-lists-icons {
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-lists-icons img {
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
    border-radius: 50%;
}
