/*  .genres-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.genres-links-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.genres-list-wrapper {
    min-height: 20em;
}


.genre-box {
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 1em; 
    text-align: center; 
    background-color:  wheat 
}



@media only screen and (min-width: 768px) {
    .genres-links-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media only screen and (min-width: 992px) {
    .genres-links-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .genres-links-wrapper {
        grid-template-columns: repeat(6, 1fr);
    }
} */

/* Default styles for all screen sizes */


.genres-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    min-height: 35em;
    color: #fff; 
    padding: 2em; 
   
}

.genres-links-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em; 
}

.genre-box {
    border: 2px solid #333; /* Border color and thickness */
    border-radius: 10px; /* Border radius for rounded corners */
     /* Add padding to the genre box */
    text-align: center; /* Center the text inside the genre box */
    background-color: wheat; /* Background color for the genre box */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.genre-box:hover {
    background-color: #ccc; /* Change background color on hover */
}


.genres-list-wrapper {
    min-height: 20em;
}

.genre-box h3 a {
    color: #213547; /* Text color for the genre name */
    text-decoration: none; /* Remove default link underline */
    font-size: 1em; /* Increase font size for the genre name */
}

/* Responsive styles for tablets (768px and above) */
@media only screen and (min-width: 768px) {
    .genres-page-wrapper {
       background-image: url("../assets/Fone2.jpg");
       background-position: center;
       background-repeat:no-repeat;
       background-size: contain;
    } 
    .genres-links-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive styles for desktops (992px and above) */
@media only screen and (min-width: 992px) {
    .genres-links-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .genres-page-wrapper {
        background-image: url("../assets/Foto3.webp");
        background-position: center;
        background-repeat:no-repeat;
        background-size: contain;
     } 
 
}

/* Responsive styles for larger screens (1200px and above) */
@media only screen and (min-width: 1200px) {
    .genres-links-wrapper {
        grid-template-columns: repeat(6, 1fr);
    }
    .genres-page-wrapper {
        background-image: url("../assets/Piano.webp");
        background-position: center;
        background-repeat:no-repeat;
        background-size: contain;
     } 
 
}
