.title {
    margin-bottom: 30px;
}

.title h1 {
    margin: 0;
}

.title p {
    margin: 0;
}

.slick-slider {
    position: relative;
}

.slick-slide > div {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
}

.slick-slide img {
    width: 100vw;
    max-height: 100%;
    object-fit: contain;
}

.text-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
}
/* Top left */
.text-overlay.top-left {
    top: 10%;
    right: 40%;
    transform: translate(0, 0);
}
/* Top right */
.text-overlay.top-right {
    top: 10%;
    right: 40%;
    transform: translate(0, 0);
}
/* middle */
.text-overlay.middle {
    top: 10%;
    right: 40%;
    transform: translate(0, 0);
}
/* left */
.text-overlay.left {
    top: 10%;
    right: 40%;
    transform: translate(0, 0);
}

/* Style the text content */
.text-overlay p {
    font-size: 24px;
    font-weight: bold;
}
.overlay-link {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
}

/* Adjust hover state as needed */
.overlay-link:hover,
.overlay-link:focus {
    text-decoration: underline;
    color: #ccc;
}
/* Style the slick-dots */
.slick-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .slick-slide > div,
    .slick-slide img {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }
    .text-overlay {
        font-size: 16px;
        padding: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 37%;
        box-sizing: border-box;
    }
    .text-overlay.top-left {
        top: 40%;
        right: 50%;
        transform: translate(-50%, -90%);
    }
    .text-overlay.top-right {
        top: 40%;
        right: 50%;
        transform: translate(-90%, -50%);
    }
    .text-overlay.middle {
        top: 40%;
        right: 50%;
        transform: translate(-10%, -50%);
    }
    .text-overlay.left {
        top: 40%;
        right: 50%;
        transform: translate(+30%, -80%);
    }
    .overlay-link {
        padding: 15px;
        font-size: 18px;

        line-height: 1.5;
    }
}

/* Hover and focus states for larger screens */
.overlay-link:hover,
.overlay-link:focus {
    text-decoration: underline;
    color: #ccc;
}
