.login-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: antiquewhite;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.login-page-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-label {
    width: 100%;
    color: black;
    padding: 0.5em;
}

input {
    width: 70%;
    height: 2em;
    border-radius: 1em;
    background-color: grey;
    color: black;
}

.login-form-wrapper button {
    background-color: rgb(157 25 24);
    margin-top: 1em;
    border-radius: 0.5em;
    padding: 0.5em 2em;
}

h3 {
    color: black;
}
