.login-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  border: 1px solid red;
  margin: 0 2em 2em;
  border-radius: 50px;
  box-shadow: -23px -23px 46px #2c0000, 23px 23px 46px #ff908b;
  background: linear-gradient(79deg, rgb(53 46 53) 0%, #9d1918 100%);
}

.login-page-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 6em;
  padding-bottom: 2em;
}

.signup-label {
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 0.5em;
}

input {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ffffff;
  border-radius: 0.4em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.login-form-wrapper button {
  background-color: rgb(157 25 24);
  margin-top: 1em;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  color: antiquewhite;
}

h3 {
  color: black;
}
