.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin-left: 0;
    width: 100%;
    gap: 0.5em;
}

.linksWrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.user-profile-wrapper {
    display: flex;
}

.signed-in-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signed-in-buttons button {
    margin-top: 0.4em;
    background-color: antiquewhite;
    color: rgb(157 25 24);
    border-radius: 0.5em;
    border-color: antiquewhite;
    margin-left: 0;
}

.signed-out-buttons {
    display: flex;
    flex-direction: column;
    margin: 2px;
    min-width: 4em;
}

.logo {
    height: 5em;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

a {
    font-size: small;
    color: white;
}

span {
    margin-right: 1.8em;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar-main {
        gap: 2em;
    }
    .logo {
        height: 7em;
    }
    a {
        font-size: large;
        color: white;
    }
    .linksWrapper {
        gap: 2em;
    }
    .signed-in-buttons button {
        padding: 1em 1.5em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media screen and (max-width: 1441px) {
}
