.playlist-item {
    padding: 1em;
    border: 1px solid red;
    margin: 0 2em 2em;
}

.playlist-page-wrapper {
    min-height: 25em;
}

.playlist-page-wrapper button {
    margin-bottom: 1.5em;
}

.create-playlist-wrapper {
    padding: 3em;
}

.create-playlist-wrapper ::placeholder {
    color: black;
}

.edit-name-playlist-wrapper {
    padding: 3em;
}

.edit-name-playlist-wrapper ::placeholder {
    color: black;
}

.delete-playlist-wrapper {
    padding: 3em;
}
.delete-playlist-wrapper p {
    color: black;
}
.delete-song-from-playlist-wrapper {
    padding: 3em;
}
.delete-song-from-playlist-wrapper p {
    color: black;
}
