:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #357abd; /* Color changes on hover */
  text-decoration: underline;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(79deg, rgb(53 46 53) 0%, rgb(157 25 24) 100%);
}

button:hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: linear-gradient(
      79deg,
      rgb(47, 45, 47) 0%,
      rgb(208, 60, 50) 100%
    );
  }
  a:hover {
    color: #0a0002;
  }
}
